*{
	margin: 0;
	padding: 0;
	font-family:Comic Sans MS;
}

body{
	background: gray;
	color: white;
}

header{
	width: 100%;
	height: 130px; /*Le damos un alto fijo al menu*/
    overflow: hidden; /*Agregamos un overflow hidden para que no se muestren elementos que sobrepasen los 150px de alto*/
    position: relative;
}

nav{
	margin: 0px auto 0px auto;
	width: 95%;
	max-width: 100%;
}

nav ul{
	list-style: none;
}

nav > ul{
	display: table;   
	width: 100%;
	background: black;
	position: relative;
}

nav > ul li{
	display: table-cell;
}

/*sub-menu*/

nav > ul > li:hover > ul {
	display: block;
	height: 100%;
}

nav > ul > li > ul{
	display: block;
	position: absolute;
	background: black;
	
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a{
	color: #fff;
	display: block;
	line-height: 20px;
	padding:20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li a:hover{
	background: #5da5a2;
}

nav > ul > li > a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span .icon{
	display: block;
	line-height:60px;
}

nav > ul > li > a:hover > span {
	top: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.titulo{
    margin: 0px auto ;
	width: 95%;
	max-width: 100%;
	height: 130px;
}

.titulo h1{
	text-align: center;
	margin: 10px 0;
}

/*Colores*/

nav ul li .primero{
	background: yellow;
}

nav ul li .segundo{
	background: green;
}

nav ul li .tercero{
	background: yellow;
}

nav ul li .cuarto{
	background: green;
}
/*******************/

.contenedor{
	width: 95%;
    margin: 0 2.5%;
}

.izquierda{
	height: 40px;
	background: black;
	overflow: auto;
}

.izquierda input{
	float: left;
	height: 40px;
    padding: 2px 20px;
    background: black;
    color: white;
    border-color: black;
    font-size: 18px;
}

.izquierda input:hover{
	background: green;
    color: white;
    border-color: green;
    cursor: pointer;
}

.derecha{
	border-radius: 5px;
	overflow: auto;
  	background: red;
}

.contenido{
    margin: 0px auto 20px auto;
    width: 95%;
    height: 75%;
}

section table{
	border-collapse: collapse; 
	border-color: black;
	width: 100%;
    margin: 20px 0;
}

section table .co-dif{
	background: black;
	color: white;
	font-size: 20px;
}

section table .couno{
	background: white;
	color: black;
	margin-left: 5px;
}

section table .couno:hover{
	background: yellow;
}
section table .couno td{
	font-size: 18px;
}

section table .couno td label{
	margin-left: 5px;
}

section table .codos{
	background: gray;
	color: white;
	margin-left: 5px;
}

section table .codos label{
	margin-left: 5px;
}

section table .codos:hover{
	background: yellow;
	color: black;
}

section table .co-dif label{
	margin-left: 5px;
}

.eauno{
	width: 15%; 
	margin-left: 10px;
}

.eados{
	width: 35%;
	margin-left: 1px; 
}

.eatres{
	width: 20%;
	text-align: center; 
}

.eacuatro{
	width: 10%;
	text-align: center; 
}

.eacinco{
	width: 20%; 
	text-align: center;
}

/**/

.eaunoo{
	width: 15%;
	height: 30px;
	margin-left: 1px; 
}

.eadoso{
	width: 35%; 
	height: 30px;
}

.eatreso{
	width: 20%; 
	height: 30px;
	text-align: center;
	margin-left: 1px;
}

.eacuatroo{
	width: 10%; 
	height: 30px;
	text-align: center;
}

.eacincoo{
	width: 20%; 
	height: 30px;
	text-align: center;
}

/*****************************/

.etuno{
	width: 20%; 
	margin-left: 10px;
}

.etdos{
	width: 40%;
	margin-left: 1px; 
}

.ettres{
	width: 15%;
	text-align: center; 
}

.etcuatro{
	width: 35%;
	text-align: center; 
}
/**/

.etunoo{
	width: 20%;
	height: 30px;
}

.etdoso{
	width: 40%; 
	height: 30px;
}

.ettreso{
	width: 15%; 
	height: 30px;
	text-align: center;
}

.etcuatroo{
	width: 35%; 
	height: 30px;
	text-align: center;
}

/*****************************/

.fauno{
	width: 30%; 
	margin-left: 10px;
}
.fados{
	width: 15%;
	margin-left: 1px; 
}
.fatres{
	width: 20%;
	text-align: center; 
}
.facuatro{
	width: 10%;
	text-align: center; 
}
.facinto{
	width: 10%; 
	height: 30px;
	text-align: center;
}
.faseis{
	width: 30%; 
	height: 30px;
	text-align: center;
}
/**/
.faunoo{
	width: 30%;
	height: 30px;
}
.fadoso{
	width: 15%; 
	height: 30px;
}
.fatreso{
	width: 20%; 
	height: 30px;
	text-align: center;
}
.facuatroo{
	width: 10%; 
	height: 30px;
	text-align: center;
}
.facintoo{
	width: 10%; 
	height: 30px;
	text-align: center;
}
.faseiso{
	width: 30%; 
	height: 30px;
	text-align: center;
}

div h3{
	text-align: center;
	margin-top: 20px;
}